<div id="election-results-overlay" class="layout-row">
  <div class="flex-20 election-results-sidepanel layout-column">
    {{#paper-card 
      class="flex-100 overflow-y"
    as |card|}}
      {{#card.header as |header|}}
        {{#header.text as |text|}}
          {{#text.title}}Election Results Explorer{{/text.title}}
        {{/header.text}}
      {{/card.header}}
      {{#card.content}}
        <label class="control-label">Select election year</label>
        {{#power-select
          selected=electionYear
          options=electionYears
          onchange=(action "setElectionYear")
          as |year|
        }}
          {{year}}
        {{/power-select}}
        <br>
        <label>Select your party</label>
        {{#power-select
          selected=friendlyParty
          options=friendlyPartyOptions
          onchange=(action "setFriendlyParty")
          as |partyOption|
        }}
          {{partyOption}}
        {{/power-select}}
        <br>
        <label>Select opposing party</label>
        {{#power-select
          selected=opposingParty
          options=opposingPartyOptions
          onchange=(action "setOpposingParty")
          as |partyOption|
        }}
          {{partyOption}}
        {{/power-select}}
      {{/card.content}}
    {{/paper-card}}
  </div>
  <div class="flex layout-column">
    {{#paper-card
      class="flex no-margin"
    }}
    {{declarative-map
        id = "election-result-map"
        layers = layersWithData
      }}
    {{/paper-card}}
  </div>
</div>